<%= form_for(@order) do |f| %>
  <% if @order.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@order.errors.count, "error") %> prohibited this order from being saved:</h2>

      <ul>
      <% @order.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="row">
    <div class="small-3 columns">
      <div class="field">
        <%= f.label :customer_id %><br>
        <%= f.number_field :customer_id %>
      </div>
    </div>
    <div class="small-3 columns">
      <div class="field">
        <%= f.label :distributor_id %><br>
        <%= f.number_field :distributor_id %>
      </div>
    </div>
    <div class="small-12 columns">
      <div class="field">
        <%= f.label :item %><br>
        <%= f.text_field :item %>
      </div>
    </div>
    <div class="small-12 columns">
      <div class="field">
        <%= f.label :item_url %><br>
        <%= f.text_field :item_url %>
      </div>
    </div>
    <div class="small-3 columns">
      <div class="field">
        <%= f.label :quantity %><br>
        <%= f.number_field :quantity %>
      </div>
    </div>
    <div class="small-3 columns">
      <div class="field">
        <%= f.label :price %><br>
        <%= f.text_field :price %>
      </div>
    </div>
    <div class="small-3 columns">
      <div class="field">
        <%= f.label :deposit %><br>
        <%= f.text_field :deposit %>
      </div>
    </div>
    <div class="small-3 columns">
      <div class="field">
        <%= f.label :paid %><br>
        <%= f.check_box :paid %>
      </div>
    </div>
    <div class="small-6 columns">
      <div class="field">
        <%= f.label :status %><br>
        <%= f.text_field :status %>
      </div>
    </div>
    <div class="small-6 columns">
      <div class="field">
        <%= f.label :availability %><br>
        <%= f.text_field :availability %>
      </div>
    </div>
    <div class="small-4 columns">
      <div class="field">
        <%= f.label :customer_order_on %><br>
        <%= f.date_select :customer_order_on %>
      </div>
    </div>
    <div class="small-4 columns">
      <div class="field">
        <%= f.label :ordered_from_distributor_on %><br>
        <%= f.date_select :ordered_from_distributor_on %>
      </div>
    </div>
    <div class="small-4 columns">
      <div class="field">
        <%= f.label :arrived_in_store_on %><br>
        <%= f.date_select :arrived_in_store_on %>
      </div>
    </div>
    <div class="small-12 columns">
      <div class="actions input-group-button left">
        <%= f.submit class: :button %>
      </div>
    </div>
  </div>
<% end %>
