<p id="notice"><%= notice %></p>

<p>
  <strong>Customer:</strong>
  <%= @order.customer_id %>
</p>

<p>
  <strong>Distributor:</strong>
  <%= @order.distributor_id %>
</p>

<p>
  <strong>Item:</strong>
  <%= @order.item %>
</p>

<p>
  <strong>Item url:</strong>
  <%= @order.item_url %>
</p>

<p>
  <strong>Quantity:</strong>
  <%= @order.quantity %>
</p>

<p>
  <strong>Price:</strong>
  <%= @order.price %>
</p>

<p>
  <strong>Deposit:</strong>
  <%= @order.deposit %>
</p>

<p>
  <strong>Paid:</strong>
  <%= @order.paid %>
</p>

<p>
  <strong>Status:</strong>
  <%= @order.status %>
</p>

<p>
  <strong>Availability:</strong>
  <%= @order.availability %>
</p>

<p>
  <strong>Customer order on:</strong>
  <%= @order.customer_order_on %>
</p>

<p>
  <strong>Ordered from distributor on:</strong>
  <%= @order.ordered_from_distributor_on %>
</p>

<p>
  <strong>Arrived in store on:</strong>
  <%= @order.arrived_in_store_on %>
</p>

<%= link_to 'Edit', edit_order_path(@order), class: "button" %>
<%= link_to 'Back', orders_path, class: "button" %>
